@use "./variables.scss" as *;

@font-face {
    font-family: Ibm Mono;
    src: url("../fonts/FiraMono-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Ibm Mono;
    line-height: 1.7;
}

body {
    background: linear-gradient(150deg, #1a1a1a, black);
    background-attachment: fixed;
    color: $primary_white;
}

.main-container {
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;

    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        transition: transform 0.3s ease-in-out;
        margin: 2rem 0;
        &.hidden {
            transform: translateY(-150%);
        }
        &.visible {
            transform: translateY(0);
        }

        .nav-container {
            background: linear-gradient(150deg, #1a1a1a, black);
            padding: 1rem;
            border-radius: 10px;
            max-width: 1000px;
            border: 1px solid $light_border;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;

            .name {
                color: $primary_white;
                font-size: 20px;
                font-weight: 700;
            }

            .nav-links {
                .link {
                    color: $primary_white;
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: 600;
                    margin-left: 2rem;

                    &:hover {
                        color: $secondary_color;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

            .resume-btn {
                background-color: $secondary_transparent_80;
                color: $primary_white;
                border: 1px solid $secondary_color;
                padding: 0.3rem 1rem;
                border-radius: 10px;
                text-decoration: none;
                font-size: 18px;
                font-weight: 700;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                &:hover {
                    background-color: $primary_white;
                    color: $secondary_color;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    .hero-container {
        margin-top: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;

        .hero-img {
            width: 250px;
            height: 100%;
            border-radius: 50px;
        }
        .hero-content {
            color: $primary_white;
            width: 100%;

            .hero-title {
                margin-bottom: 1rem;
            }
            .hero-info {
                margin-bottom: 1rem;
            }
            .hero-info {
                color: $secondary_color;
                font-size: 18px;
            }
            .hero-socials {
                margin-top: 2rem;
                display: flex;
                align-items: center;
                width: 100%;
                gap: 1rem;

                .socials {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    a {
                        display: table;
                        display: flex;
                        align-items: center;
                        color: $primary_white;

                        &:hover {
                            color: $secondary_color;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    .section-container {
        margin: 6rem 0;
        width: 100%;
        border-radius: 10px;
        border: 1px solid $secondary_transparent_80;
        padding: 2rem;

        .header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            h1 {
                color: $secondary_color;
            }
            button {
                color: $secondary_color;
                background-color: $secondary_transparent_80;
                padding: 0.2rem 0.6rem 0.3rem;
                border-radius: 20px;
                border: none;
                outline: none;
            }
        }

        .curly-braces {
            color: $secondary_color;
            font-size: 30px;
            font-weight: 600;
            margin-top: 1rem;

            &.close {
                margin-top: 0;
            }
        }

        &.about-container {
            .container {
                width: 90%;
                margin: 0 auto;
                padding-top: 1rem;

                .about-content {
                    width: 100%;
                    margin: 0 auto;
                    padding: 0.5rem 2rem;
                    border-left: 1px solid $light_border;

                    .content {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        margin-bottom: 2rem;

                        .key {
                            color: $secondary_color;
                            font-size: 20px;
                            font-weight: 600;
                            margin-bottom: 1rem;
                        }
                        .value {
                            color: $primary_white;
                            font-size: 16px;
                            width: 80%;
                        }

                        &.interests {
                            margin-bottom: 1rem;
                            .value {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 1rem;

                                span {
                                    color: $primary_white;
                                    background-color: $secondary_transparent_80;
                                    padding: 0.2rem 0.7rem;
                                    border-radius: 7px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.skills-container {
            .container {
                .stack-container {
                    border-left: 1px solid $light_border;
                    display: grid;
                    place-items: center;
                    .content {
                        width: 90%;
                        display: grid;
                        grid-template-columns: 1fr 2fr;
                        margin-bottom: 1rem;

                        strong {
                            color: $secondary_color;
                            font-size: 20px;
                        }
                        .sub-container {
                            .square-braces {
                                font-size: 25px;
                                color: $secondary_color;
                            }
                            .sub-collapse {
                                color: $secondary_transparent;
                                width: 100%;
                                display: flex;
                                margin-bottom: 0.5rem;

                                span {
                                    background-color: $secondary_transparent_80;
                                    display: table;
                                    width: 25px;
                                    height: 20px;
                                    padding: 0 0.3rem;
                                    border-radius: 50%;
                                    text-align: center;
                                    scale: 0.9;
                                }
                            }
                            .sub-content {
                                border-left: 1px solid $light_border;
                                padding: 1rem;
                                display: grid;
                                grid-template-columns: 1fr 1fr;

                                .skill {
                                    background-color: $secondary_transparent_80;
                                    color: $primary_white;
                                    padding: 0.3rem 0.7rem;
                                    font-size: 18px;
                                    margin: 0 1rem 1rem;
                                    border-radius: 7px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.projects-container {
            .container {
                .project-container {
                    width: 100%;
                    display: grid;
                    place-items: center;
                    border-left: 1px solid $light_border;
                    .project {
                        display: flex;
                        align-items: flex-start;
                        width: 90%;
                        gap: 2rem;
                        border-bottom: 1px solid $light_border;
                        padding-bottom: 1rem;
                        margin-top: 2rem;

                        .project-img {
                            width: 250px;
                            height: 100%;
                            border-radius: 20px;
                            border: 3px solid $primary_white;
                        }

                        .project-info {
                            width: 100%;
                            .stack {
                                margin-top: 1rem;
                                display: flex;
                                align-items: center;
                                gap: 1rem;

                                span {
                                    color: $secondary_color;
                                    background-color: $secondary_transparent_80;
                                    border-radius: 15px;
                                    padding: 0.3rem 0.7rem;
                                    font-size: 12px;
                                }
                            }

                            .links {
                                margin-top: 2rem;
                                width: 100%;
                                display: flex;
                                justify-content: flex-end;
                                gap: 1rem;
                                a {
                                    text-decoration: none;
                                    color: $secondary_color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        padding-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            strong {
                color: $secondary_color;
            }
        }

        .socials {
            display: flex;
            align-items: center;
            gap: 1rem;

            a {
                color: $primary_white;
                text-decoration: none;
            }
        }
    }
}
