$primary_black: #0e0e0f;
// $primary_white: #0e0e0f;
$primary_white: #ffffff;
// $primary_black: #ffffff;
$secondary_color: #f2b064;
// $secondary_color: #f28a64;
$secondary_transparent: #f2b06499;
// $secondary_transparent: #f28a6495;
$secondary_transparent_80: #f2b06426;
// $secondary_transparent_80: #f28a643d;
$light_border: #4f4f4f;
