$primary_black: #0d0d0e;
// $primary_white: #0e0e0f;
$primary_white: #ffffff;
// $primary_black: #ffffff;
$secondary_color: #f2b064;
$secondary_transparent: #f2b06499;
$secondary_transparent_80: #f2b06426;
$secondary_transparent_90: #f2b06404;
$light_border: #f2b06426;
